.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
  position: relative;
  left: auto;
  right: auto;
}
.game {
  width: 100vw;
  height: calc(100vh - 101px);
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
  position: relative;
}

.board {
  aspect-ratio: 55 / 60;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: center;
}

.letter {
  aspect-ratio: 1 / 1;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#wrong {
  background-color: #3a393c;
}

.keyboard {
  aspect-ratio: 2 / 7;
  min-width: 70%;
  max-height: 20vh;
  position: fixed;
  bottom: 40px;
}

.keyboard > div {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.key {
  width: 36px;
  height: 50px;
  margin: 3px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}

@media only screen and (max-width: 600px) {
  .keyboard {
    width: 95%;
  }
  .board {
    height: auto;
    max-height: 55vh;
    width: 90%;
  }
}
